--extra-index-url https://download.pytorch.org/whl/cpu

# Core
streamlit==1.49.1
numpy>=1.26
pandas>=2.2
Pillow>=10.4,<12

# OpenCV: headless for servers (no GUI deps)
opencv-python-headless==4.11.0.86

# YOLO & Torch (CPU wheels)
ultralytics==8.3.196
torch==2.2.2+cpu
torchvision==0.17.2+cpu

# Utilities
matplotlib>=3.8
ffmpeg-python>=0.2.0
onnxruntime>=1.22.1
supervision==0.26.1
